* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
nav {
    color: white!important;
    background-color: black;
  display: flex;
  padding: 8px;
  font-size: 25px;
  align-items: center;
  font-weight: bolder;
  justify-content: space-between;
}
a {
    color: white;
    text-decoration: none;
}
nav .logo {
    margin: 0px 10px;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
}
nav .logo a{
    font-family: 'Pacifico', cursive;
}
nav a {
    margin: 0px 10px;
    font-family: "Montserrat", sans-serif;
}
nav input{
    padding: 9px 0px 9px 35px;
    width: 100%;
    border: 2px solid black;
}
nav .search svg{
    position: absolute;
    left: 6px;
    top: 6px;
    color: grey;
}
nav .search{
    width: 40%;
    position: relative;
}
.login{
    width: 70%;
    margin: auto;
    max-width: 700px;
    margin-top: 20px;
    color: black;
    background-color: #F0F0F0;
}
.categories{
    box-shadow: rgba(0,0,0,0.09) 0px 2px 24px 0px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 900;
}
